@for(order of orders; track order.orderId)
{
  <div class="card mb-3 wow animate__animated animate__fadeInDown">
    <div class="order">
      <div class="card-header">
        <div class="order-info">
          <span class="order-label">Order</span>
          <a href="#" class="order-id">#{{ order.orderId }}</a>
        </div>
        <span class="order-price">Total Price : {{ order.totalPrice }}</span>
        <span class="order-date">Order Placed: {{ order.createdAt }}</span>
      </div>
  
      @for(book of order.books; track book.bookId)
      {
        <!-- <div class="row align-items-center book">
          <div class="col-md-2">
            <img src="../../../../assets/images/404.png" class="img-fluid rounded" alt="...">
          </div>
          <div class="col-md-10">
            <div class="row">
              <div class="col">
                <h5 class="card-title">Book id:</h5>
                <p class="card-text">{{ book.bookId }}</p>
              </div>
              <div class="col">
                <h5 class="card-title">Quantity:</h5>
                <p class="card-text">{{ book.quantity }}</p>
              </div>
            </div>
          </div>
        </div> -->
        <app-order-item [orderItem]="book"> </app-order-item>
      }
    </div>
  </div>


}


<!-- @for(books of order.books; track books.bookId)
      {
         <app-order-item [orderItem]="order"> </app-order-item>
      }
 -->