@for(order of orders; track order.orderId)
{
  <div class="card mb-3 wow animate__animated animate__fadeInDown">
    <div class="order">
      <div class="card-header">
        <div class="order-info">
          <span class="order-label">Order</span>
          <a href="#" class="order-id">#{{ order.orderId }}</a>
        </div>
        <span class="order-price">Total Price : {{ order.totalPrice }}</span>
        <span class="order-date">Order Placed:
           {{ order.createdAt | date: 'yyyy-MM-dd' }} ,  
          {{ order.createdAt | date: 'hh:mm a' }} </span>
      </div>
  
      @for(book of order.books; track book.bookId)
      {      
        <app-order-item [orderItem]="book"> </app-order-item>
      }
    </div>
  </div>


}