
<h2 class="main-title text-center mb-5 position-relative">
  Orders History
  <span class="title-underline"></span> 
</h2>  



@for(order of orders.slice().reverse(); track order.orderId)
{
  <div class="card mb-3 wow animate__animated animate__fadeInDown">
    <div class="order">
      <div class="card-header">
        <div class="order-info">
          <span class="order-label">Order</span>
          <a href="#" class="order-id">#{{ order.orderId }}</a>
        </div>
        <span class="order-price">Total Price : {{ order.totalPrice }}</span>
        <span class="order-date">Order Placed:
           {{ order.createdAt | date: 'yyyy-MM-dd' }} ,  
          {{ order.createdAt | date: 'hh:mm a' }} </span>
      </div>
  
      @for(book of order.books; track book.bookId)
      {      
        <app-order-item [orderItem]="book" [userRole]="storedUser.role" [orderStatus]="order.status" [orderId]="order.orderId"> </app-order-item>
      }
    </div>
  </div>


}
@empty {
    <div class="center-container my-5 animate-slide-up">
      <div class="card p-5 text-center">
        <i class="bi bi-cart-x" style="font-size: 3rem; color: #383838;"></i>
        <h2 class="mt-4">Your orders history is empty</h2>
        <p class="mb-4">Looks like you haven't placed any orders yet.</p>
        <button class="btn btn-dark w-25 m-auto" routerLink="/">
          <i class="bi bi-book me-2"></i> Continue Shopping
        </button>
      </div>
    </div>

}