<div class="row align-items-center book">
  <div class="col-md-2">
    <img src="../../../../assets/images/404.png" class="img-fluid rounded" alt="...">
  </div>
  <div class="col-md-10">
    <div class="row">
      <div class="col">
        <h5 class="card-title">Book id:</h5>
        <p class="card-text">{{ orderItem.bookId }}</p>
      </div>
      <div class="col">
        <h5 class="card-title">Quantity:</h5>
        <p class="card-text">{{ orderItem.quantity }}</p>
      </div>
    </div>
  </div>
</div>