.form-container {
  border: 1px solid rgba(217, 217, 217, 1);
  padding: 25px;
  border-radius: 12px;
  background-color: #fff;
  margin: 20px auto;
  width: 65%;
  box-shadow: 0 10px 30px rgba(99, 66, 66, 0.2);
  font-weight: bold;
  color: #444;
}

.signup {
  margin-top: 15px;
  color: #fff;
  border: none;
  padding: 14px 28px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.3s ease;
  background-color: #444;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.signup:hover {
  background-color: #161616;
  transform: translateY(-3px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
}

.signup:disabled {
  background-color: #302f2e;
  cursor: not-allowed;
  opacity: 0.6;
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

a {
  color: #444;
  text-decoration: none;
  font-weight: 600;
  position: relative;
}

a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #444;
  transition: width 0.3s ease;
}

a:hover::after {
  width: 0;
}

.col-md-4 {
  margin-top: 15px;
}

h2 {
  color: #444;
  position: relative;
  margin-top: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

input {
  background-color: #f8f8f8;
  color: #333;
  font-size: 16px;
  font-weight: 500;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid rgba(27, 27, 27, 0.3);
  transition: border 0.3s ease, box-shadow 0.3s ease;
}

input:focus {
  background-color: #fff;
  color: #333;
  outline: none;
  border: 1px solid #7B3F00;
  box-shadow: 0 4px 10px rgba(123, 63, 0, 0.2);
}
