<div class="cent">
    <div class="success-container">
      <div class="success-content">
        <h2 class="success-subtitle">Congratulations!</h2>
        <h1 class="success-title">🎉</h1>
        <p class="success-message">
          Your order has been placed Successfully.
        </p>
        <a href="/" class="success-button">Go Back to Home</a>
      </div>
      <img
        class="success-image"
        src="../../../assets/images/image.png"
        alt="success Illustration"/>
    </div>
  </div>
  