<div class="book-details-container container-fluid ">
  <div class="book-list row g-4 m-auto d-flex align-items-center justify-content-center">
    <div *ngFor="let book of books" class="book-card col-12 col-md-6  position-relative">
      <div class="label  ">Most Popular</div>
      <!-- In Stock Label -->
      <div *ngIf="book.stock > 0" class="in-stock-label position-absolute">In Stock</div>

      <!-- Book Title -->
      <h2 class="book-title">{{ book.title }}</h2>

      <!-- Book Image -->
      <img class="book-image img-fluid rounded-circle" [src]="book.image" alt="{{ book.title }}" />

      <!-- Book Price -->
      <div class="book-price">
        <span class="amount">${{ book.price }}</span>
      </div>

      <!-- Book Details List -->
      <ul class="book-details-list list-unstyled">
        <li><strong>Author:</strong> {{ book.author }}</li>
        <li><strong>Category:</strong> {{ book.category }}</li>
        <li><strong>Stock:</strong> {{ book.stock }}</li>
        <li><strong>Description:</strong> {{ book.description }}</li>
        <li>
          <strong>Average Rating:</strong> 
          {{book.average_rating}}
        </li>
        
      </ul>
      

      <!-- Action Button -->
      <div class="d-flex justify-content-end gap-3">
        <a class="book-action-button btn btn-primary px-4 py-2 shadow-sm rounded-pill">Review Now</a>
        <a class="book-action-button btn btn-success px-4 py-2 shadow-sm rounded-pill">Add to Cart</a>
      </div>
      
    
    </div>
  </div>
 
</div>