
/* /////////////////////////////////////////// */
.section
{
    display:flex; 
    flex-wrap: wrap;
    justify-content:space-evenly;
}
#childa
{
    color: rgb(255, 255, 255);
    background: linear-gradient(270deg, #D61F6F 11.24%, rgba(133, 11, 160, 0.206374) 99.99%, rgba(112, 5, 173, 0) 100%);    border-radius:18px ;
    width: 18rem;
    height:32rem ;
    font-size: 100px;
    text-align: center;
}
#childa img{
    border-radius:18px ;
    height: 50%;
}
#childa h5{
    color: rgb(246, 230, 240) ;
}

