<div class="section"> 
      <div >
        <div class="wow card animate__animated animate__fadeInDown " data-wow-delay="1s" style="width: 18rem;" id="childa">
          <img src="." class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">01</p>
            <h5>card 1</h5>
          </div>
        </div>
      </div>
      
      <div >
        <div class="wow card animate__animated animate__fadeInUp " data-wow-delay="1.5s" style="width: 18rem;" id="childa">
          <div class="card-body">
            <p class="card-text">02</p>
            <h5>card 2</h5>
          </div>
          <img src="." class="card-img-top" alt="...">
        
        </div>
          
      </div>
  
      <div >
        <div class="card animate__animated animate__fadeInDown wow" data-wow-delay="2s" style="width: 18rem;" id="childa">
          <img src="." class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">03</p>
            <h5>card 3</h5>
  
          </div>
        </div>
          
      </div>
  </div>
  
    