<div class="row">
  <div class="col-md-2 mb-4" *ngFor="let book of books">
    <div class="card my-custom-card">
      <!-- Image wrapper -->
      <div class="card-img-top position-relative overflow-hidden">
        <img
          [src]="book.image"
          [alt]="book.title"
          class="img-fluid clipped-image"
        />
        <div class="overlay"></div>
      </div>
      <!-- Card body -->
      <div class="card-body text-center">
        <h5 class="card-title">{{ book.title }}</h5>
      </div>
      <div class="card-info">
        <div class="rating-star">★</div>
        <h5>{{ book.average_rating }} / 10</h5>
        <p>{{ book.category }}</p>
        <button class="view-details">View Details</button>
      </div>
    </div>
  </div>
</div>
<div class="pagination text-center">
<button (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1">
  Previous
</button>
<span>Page {{ currentPage }} of {{ totalPages | ceil }}</span>
<button
  (click)="onPageChange(currentPage + 1)"
  [disabled]="currentPage >= totalPages"
>
  Next
</button>
</div>