<div class="carousel-container">
  <div class="search-container w-25 ">
    <input 
      #searchInput
      type="text"
      class="search-bar wow animate__animated animate__bounce animate__delay-1s"
      placeholder="Search books..."
      (keydown.enter)="onSearch(searchInput.value)"
    />
  </div>

  <div id="bookCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div *ngFor="let item of carouselImages; let i = index" class="carousel-item" [class.active]="i === 0">
        <img class="d-block w-100" [src]="item.image" [alt]="'Slide ' + (i + 1)">
        <div class="carousel-caption">
          <h3>{{ item.heading }}</h3>
          <p>{{ item.text }}</p>
        </div>
      </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#bookCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#bookCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </button>

    <div class="carousel-indicators">
      <button *ngFor="let image of carouselImages; let i = index" type="button" data-bs-target="#bookCarousel"
        [attr.data-bs-slide-to]="i" [class.active]="i === 0"></button>
    </div>
  </div>
</div>

<div class="container m-auto p-3 bg-light">
  <div *ngIf="userRole === 'admin'" class="d-flex justify-content-center mt-3 mb-4 gap-3">
    <ul class="list-group list-group-horizontal text-center">
      <li class="list-group-item border-0 p-2 add-book text-black-50 me-5" (click)="addBook()">
        Add Book
      </li>
      <li class="list-group-item border-0 p-2 delete-all-books text-black-50 me-3" (click)="deleteAllBooks()">
        Delete All Books
      </li>
    </ul>
  </div>
  

  <div class="row ">
    <div class="col-lg-3 col-md-6 col-sm-12 mb-4 g-5  wow animate__animated animate__fadeInDown" *ngFor="let book of books;let i = index"  [ngStyle]="{'animation-delay': (i * 1) + 's'}">
      <div class="card h-100 shadow-sm" style="width: 100%;">
        <img [src]="book.image" [alt]="book.title" class="card-img-top"/>
        <div class="card-body">
          <h5 class="card-title">{{ book.title }}</h5>
        </div>
        <ul class="list-group list-group-flush mt-1">
          <li class="list-group-item text-black-50 view-details" (click)="viewBookDetails(book.bookId)">
            View Details <i class="fas fa-arrow-right ms-2 arrow-icon"></i>
          </li>
          <li *ngIf="userRole === 'admin'" class="list-group-item text-warning update-book" (click)="updateBook(book.bookId)">
            Update
          </li>
         
          <li *ngIf="userRole === 'admin'" class="list-group-item text-danger delete-book" (click)="deleteBook(book.bookId)">
            Delete
          </li>
        </ul>
      </div>
      
    </div>
  </div>

  <div class="pagination-container d-flex justify-content-center align-items-center mt-4 
  wow animate__animated animate__shakeX">
    <button
      (click)="onPageChange(currentPage - 1)"
      [disabled]="currentPage === 1"
      class="btn pagination-btn prev">
      <i class="fas fa-chevron-left"></i> <!-- Font Awesome icon -->
    </button>
  
    <span class="page-info mx-3">{{ currentPage }} of {{ totalPages | ceil }}</span>
  
    <button
      (click)="onPageChange(currentPage + 1)"
      [disabled]="currentPage >= totalPages"
      class="btn pagination-btn next ">
      <i class="fas fa-chevron-right"></i> <!-- Font Awesome icon -->
    </button>
  </div>
</div>